.user {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #4b44a7;
    padding-bottom: 10px;
}
.userCard {
    margin-right: 30px;
}

.userCard img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.userCard button {
    width: 100px;
    height: 40px;
    background-color: #4b44a7;
    font-size: 16px;
    font-weight: 700;
}

.userCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userData {
    display: flex;
    justify-content: space-between;
    padding-bottom: 53px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status {
    background-color: #b4668d;
    border-top: 1px solid #4b44a7;
}

.place {
    position: absolute;
    top: center;
    right: 20px;
}

.selectedPage {
    font-weight: 700;
}

.count {
    margin-bottom: 15px;
    text-align: center;
}

.count span {
    margin: 5px;
}

.count span:hover {
    cursor: pointer;
}